<!-- Gitment 评论框 end -->
{{ if ( .Site.Params.gitment ) }}
<div id="git-comments"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="{{ "js/gitment.browser.js" | relURL }}"></script> -->
<!-- <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
<script>
  var gitment = new Gitment({
    id: '{{ .File.BaseFileName }}', // 可选, 默认为 location.href
    title: '{{ .File.BaseFileName }}',
    owner: '{{ .Site.Params.gitment_owner }}',
    repo: '{{ .Site.Params.gitment_repo }}',
    oauth: {
      client_id: '{{ .Site.Params.gitment_client_id }}',
      client_secret: '{{ .Site.Params.gitment_client_secret}}',
    }
  })
  gitment.render('git-comments')
</script>
{{ end }}
